Django==1.6.1
djangorestframework==2.3.12
dj-database-url==0.2.2
South==0.8.4
psycopg2==2.5.2
django-grappelli==2.5.1

# Provides a model field for geolocations (https://pypi.python.org/pypi/django-google-maps).
# It also provides a picker for the admin, but I prefer the jquery picker (jquery.geocomplete).
django-google-maps==0.2.2
