<div id="map-info-window">
    <h1 id="title"></h1>
    <div id="bodyContent">
        <p>A description of some sort...</p>
        <p>
            And a link:
            <a href="http://foo.bar.com">http://foo.bar.com</a>
        </p>
    </div>
</div>