<h1 class="title"><%=locationData.name() %></h1>
<div class="address"><%=locationData.address() %></div>
<div class="distance-from-user hidden"></div>
<div class="get-directions-btn" data-position="<%=locationData.positionStr() %>">Get directions</div>
<div class="clear"></div>