@charset "utf-8";
/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
div.clear {
    clear:both;
}
.hidden {
    display: none;
}

#page-content {
    height: 100%;
    width: 100%;
}
body {
    background: #f0f4f5;
}

div.background {
    /* The background image is here, rather than on the body tag, to get
     * around an Android issue where the background sometimes won't fill
     * the full scroll area after returning to the home page (leaving a
     * black area at the bottom after the user scrolls). */
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*background-size: cover; - Cover looks bad if someone has a long list of schools.  It has to zoom the image way in.*/
    /*background-size: auto auto;*/
    background: #f0f4f5;
}

#map-instructions {
    padding: 10px;
    line-height: 1.2;
    font-weight: bold;
    background-color: #f0f4f5;
}
#map-canvas {
    height: 100%;
}


/*
 * Map info window
 */
#map-info-window.mobile {
    padding: 10px;
    border-top: 1px solid #BDBDBA;
}
#map-info-window .title {
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 3px;
}
#map-info-window .address,
#map-info-window .notes {
    font-weight: lighter;
    font-size: 13px;
    line-height: 1.0;
    margin-bottom: 10px;
}
#map-info-window .line-separator {
    padding-top: 5px;
    margin-bottom: 10px;
    height:1px;
    border-bottom:1px solid #D7D5CD;
}
#map-info-window .additional-details-box {
    border-left: 1px solid #D3D0C5;
    border-top: 1px solid #D3D0C5;
    border-right: 1px solid #D3D0C5;
    background-color: #FFFEFE;
    margin-top: 5px;
    width: 100%;
}
#map-info-window .additional-details-box tr td {
    border-bottom: 1px solid #D3D0C5;
}
#map-info-window .additional-details-box .icon {
    width: 46px;
    height: 34px;
    padding-top: 8px;
    text-align: center;
    vertical-align: top;
    color: #1DA24B;
    font-size: 20px;
    background: #e8eced;
}
#map-info-window .additional-details-box .additional-details {
    padding: 5px 4px 5px 5px;
}
#map-info-window .additional-details .header .lbl {
    font-weight: 500;
    color: #1DA24B;
}
#map-info-window .additional-details .header .value {
    padding-left: 5px;
    color: #9F9F9F;
    font-size: 13px;
}
#map-info-window .additional-details .notes {
    color: #2B2B2B;
    font-size: 14px;
    line-height: 1.1;
    margin-top: 3px;
}
#map-info-window .distance-from-user {
    float: left;
    padding-left: 20px;
    padding-top: 6px;
    font-size: 11px;
    background: url("../images/icon-location.png") 0px 4px / 19px 19px no-repeat;
}
#map-info-window .get-directions-btn {
    float: right;
    border-radius: 3px;
    width: 200px;
    padding: 4px 0px 4px 0px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #FAECE6;
    background-color: #1B9244;
    cursor: pointer;
}

.btn-large {
    border-radius: 5px;
    width: 100%;
    padding: 8px 0px 8px 0px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #FAECE6;
    background-color: #1B9244;
    cursor: pointer;
}

.btn-large.disabled {
    background-color: #B7C8B5;
    cursor: default;
}

.mini-spinner {
    height: 15px;
    width: 15px;
    float: left;
    margin: 0 5px 0 5px;
    background: transparent url('../images/mobile/ajax-loader-small.gif') no-repeat;
}

/**********************************************************
 * Location Selector
 **********************************************************/
.location-selector {
    padding: 10px 10px 10px 10px;
}
.location-selector #user-current-address {
    color: lightslategray;
    font-size: 12px;
    margin: 0 0 5px 5px;
}
.location-selector .button-separator {
    width: 100%;
    margin: 20px 0 20px 0;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}
.location-selector .title {
    width: 100%;
    padding: 10px 5px 5px 5px;
    font-size: 22px;
}
.location-selector h1.title {
    font-weight: bold;
}
.location-selector h2.title {
    font-size: 18px;
    padding-bottom: 15px;
}
.location-selector .location-field {
    width: 100%;
    margin-bottom: 10px;
}
.location-selector .location-field input {
    width: 100%;
    height: 33px;

    /* Compensate for issue where most browsers extend text boxes
       beyond their borders when width is set to 100% */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}