/*
 * Custom css for the admin dialog box.
 */


/***************************************
 * Overrides for standard dialog styles
 ***************************************/
.icon-selector-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}
.icon-selector-link span.ui-icon {
    margin: -8px 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
}
.ui-button {
    width: 75px;
}
.ui-dialog-buttonpane {
    padding: 3px 1px 0 0 !important;
}
.ui-button-text {
    padding: 0 0 2px 0 !important;
}


/***************************************
 * Icon-selector link styling
 ***************************************/
.icon-selector {
}
.selected-icon {
    width: 100%;
    padding: 3px 0 8px 0;
    text-align: center;
}
i.fa {
    color: green;
}
.icon-link {
	float: left;
	width: 31px;
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
}


/***************************************
 * The map
 ***************************************/
#map_preview {
    padding-top: 5px;
    float: left;
}

/***************************************
 * Update-address button
 ***************************************/
#look-up-address-btn {
    margin: 10px 0 0 10px;
    padding: .4em 1em .4em 1em;
    text-decoration: none;
    position: relative;
    float: left;
}